<section id="contact-informations">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2>Nous contacter</h2>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 relative-map">
                <div class="map-moffi">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.6616181346335!2d3.0181369514598817!3d50.63340258194552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d55c764ab439%3A0x70d919def5cfc62!2sMOFFI!5e0!3m2!1sfr!2sfr!4v1586461059829!5m2!1sfr!2sfr" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="informations-email">
                    <p>
                        <span>Demandes entreprises</span><br>
                        entreprises@moffi.fr
                        <br><br>
                        <span>Recrutement</span><br>
                        recrutement@moffi.fr
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row justify-content-lg-end justify-content-md-end">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <h3>Courrier, email ou téléphone</h3>
                        <p class="text-infos">
                            Euratechnologies<br>
                            165 Avenue de Bretagne<br>
                            59000 Lille<br>
                            <br>
                            contact@moffi.io<br>
                            <br>
                            (+33)3 00 00 00 00<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="form-contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div id="contact-form-background">

                    <h2>
                        Formulaire de contact
                    </h2>

                    <p class="text-center notice-form">*Champs obligatoires</p>

                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">

                        <div class="col-12 my-1">
                            <select class="icon-valid-select custom-select mr-sm-2" [ngClass]="{ 'is-invalid': submitted && f.civilite.errors, 'is-valid':submitted && !f.civilite.errors }" formControlName="civilite" required>
                            <option value="">Civilité*</option>
                            <option *ngFor="let civility of civilityChoice">{{ civility }}</option>
                            </select>
                            <div class="invalid-feedback">
                                Vous devez renseigner votre civilité.
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors, 'is-valid':submitted && !f.nom.errors }" formControlName="nom" placeholder="Nom*" required>
                            <div class="invalid-feedback">
                                Vous devez renseigner votre nom.
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors, 'is-valid':submitted && !f.prenom.errors }" formControlName="prenom" placeholder="Prénom*" required>
                            <div class="invalid-feedback">
                                Vous devez renseigner votre prénom.
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <input type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid':submitted && !f.email.errors }" formControlName="email" placeholder="Email*" required>
                            <div class="invalid-feedback">
                                <!-- If error is required -->
                                <div *ngIf="submitted && f.email.errors && f.email.errors.required">
                                    Vous devez renseigner votre adresse email.
                                </div>
                                <!-- If error is pattern -->
                                <div *ngIf="submitted && f.email.errors && f.email.errors.email">
                                    Votre email doit être écrite sous cette forme "exemple@email.fr".
                                </div>
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <input type="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors, 'is-valid':submitted && !f.tel.errors }" formControlName="tel" pattern="[0-9]{10}" maxlength="10" placeholder="Téléphone*" required>
                            <div class="invalid-feedback">
                                <!-- If error is required -->
                                <div *ngIf='submitted && f.tel.errors && f.tel.errors.required'>
                                    Vous devez renseigner votre numéro de téléphone.
                                </div>
                                <!-- If error is pattern -->
                                <div *ngIf='submitted && f.tel.errors && f.tel.errors.pattern'>
                                    Renseignez votre numéro de téléphone de 10 chiffres seulement avec des chiffres de 0 à 9.
                                </div>
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sujet.errors, 'is-valid':submitted && !f.sujet.errors }" formControlName="sujet" placeholder="Sujet*" required>
                            <div class="invalid-feedback">
                                Vous devez renseigner un sujet.
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <textarea type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors, 'is-valid':submitted && !f.message.errors }" formControlName="message" rows="3" placeholder="Message*" required></textarea>
                            <div class="invalid-feedback">
                                Vous devez entrer un message.
                            </div>
                        </div>

                        <div class="col-12 my-1">
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input type="checkbox" class="custom-control-input" [ngClass]="{ 'is-invalid': submitted && f.contactAgree.errors, 'is-valid':submitted && !f.contactAgree.errors }" id="contactAgree" value="true" formControlName="contactAgree" required>
                                <label class="custom-control-label" for="contactAgree">En cochant cette case, j'accepte d'être recontacté(e) par MOFFI concernant ma demande.*</label>
                                <div class="invalid-feedback">
                                    Vous devez accepter d'être recontacté(e).
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="g-recaptcha" data-sitekey="your_site_key"></div>
                    
                    <button class="btn btn-primary btn-callback btn-block mt-3" type="submit">Envoyer ma demande</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
