/* ----- Variables SCSS ----- */
$font-1: 'Open Sans', sans-serif;
$font-2: 'Source Sans Pro', sans-serif;
$color-primary: #3242A3;
$color-secondary-1: #7786E9;
$color-secondary-2: #6772E5;
$color-secondary-3: #E9ECFF;
$color-callback-1: #FFDF69;
$color-callback-2: #10E192;
$white: #fff;
$black: #000;

/* ----- Mixin pour propriétés qui nécessitent des préprocesseurs ----- */
@mixin property_complex($property, $value, $preprocessors) {
    @each $preprocessor in $preprocessors {
        -#{$preprocessor}-#{$property}: $value;
    }
    #{$property}: $value;
}

/* ----- Nous contacter ----- */
#contact-informations {
    padding: 8em 0;

    h2 {
        color: $color-primary;
    }

    .map-moffi {
        border-radius: 12px;
        overflow: hidden;
        height: 25em;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .relative-map {
        position: relative;
        margin-top: 3em;
        
        .informations-email {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $color-callback-1;
            padding: 2em 3em;
            transform: translate(50%, 50%);
    
            p {
                margin-block-start: 0;
                margin-block-end: 0;
                text-align: center;
    
                span {
                    font-weight: 700;
                }
            }
        }
    }
}

/* ----- Formulaire de contact ----- */
#form-contact {
    padding: 6em 0;
    background-color: $color-secondary-3;

    #contact-form-background {
        font-family: $font-2;
        padding: 3em 2em;
        background-image: linear-gradient(to right bottom, #22308a, #263490, #2a3996, #2e3d9d, #3242a3);
        border-radius: 12px;
    
        h2 {
            color: $white;
        }

        .notice-form {
            font-size: 0.8em;
            color: rgba($white, 0.9);
        }
    
        .is-valid {
            border: none;
        }
    
        .is-invalid {
            border: none;
        }
    
        .custom-control-label {
            color: $white;
        }
    
        .was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
            border-color: $white;
        }
    
        .custom-control-input.is-invalid ~ .custom-control-label {
            color: $white;
        }
    
        .was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
            border-color: $white;
        }
    
        .custom-control-input.is-valid ~ .custom-control-label {
            color: $white;
        }
    
        .invalid-feedback {
            color: $white;
        }
    
        .btn-callback {
            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
            color: $white;
            text-transform: uppercase;
            font-weight: 700;
            background-color: $color-callback-2;
            border: none;
            font-family: $font-2;
            font-size: 1.2em;
        }
    
        .btn-callback:hover {
            @include property_complex(transition, ease 0.4s, o moz webkit ms khtml);
            background-color: $color-secondary-2;
        }
    
        .g-recaptcha {
            display: flex;
            justify-content: center;
        }
    
        .form-control:focus {
            border-color: $white;
            box-shadow: 0 0 0 0.2rem rgba($color-callback-2, 0.25);
        }
    
        .custom-control-input:checked ~ .custom-control-label::before {
            border-color: $color-secondary-1;
            background-color: $color-secondary-1;
        }
    }
}



/* ----- Media Queries ----- */
@media(max-width:992px) {
    /* ----- Nous contacter ----- */
    #contact-informations {
        .relative-map {
            .informations-email {
                right: inherit;
                top: inherit;
                left: 0;
                bottom: 0;
                transform: translate(100%, 50%);
            }
        }
    }
}

@media(max-width:768px) {
    /* ----- Nous contacter ----- */
    #contact-informations {
        .relative-map {
            .informations-email {
                position: relative;
                right: inherit;
                top: inherit;
                transform: none;
                margin: 1em 0;
            }
        }
        h3 {
            margin-top: 1em;
            text-align: center;
        }
        .text-infos {
            text-align: center;
        }
    }

    #form-contact {
        #contact-form-background {
            padding: 3em 1em;
        }
    }
}