<div class="images-triche">
    <img src="../assets/images/menu-desktop.JPG" alt="image du menu version desktop" class="desktop">
    <img src="../assets/images/menu-mobile.JPG" alt="image du menu version mobile" class="mobile">
</div>

<app-contact></app-contact>

<div class="images-triche">
    <img src="../assets/images/footer-desktop.JPG" alt="image du footer version desktop" class="desktop">
    <img src="../assets/images/footer-mobile.JPG" alt="image du footer version mobile" class="mobile">
</div>
