.images-triche {
    img {
        width: 100%;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

@media(max-width:992px) {
.images-triche {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}
}