$font-1: 'Open Sans', sans-serif;
$font-2: 'Source Sans Pro', sans-serif;
$color-primary: #3242A3;
$color-secondary-1: #7786E9;
$color-secondary-2: #6772E5;
$color-secondary-3: #E9ECFF;
$color-callback-1: #FFDF69;
$color-callback-2: #10E192;
$white: #fff;
$black: #000;

html, body {
    font-size: 16px;
}

h2 {
    font-family: $font-1;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}
